<p id="notice"><%= notice %></p>

<h1>Mains</h1>

<h1>We are all here for testing</h1>
<h1>Let's see if we get to be auto reloaded :p</h1>
<h1>I am the new line</h1>


<h1>I am the new line i show up from live reload</h1>





